:root {
  --vp-c-brand: #8500ee;
  --vp-c-brand-light: #8500ee;
  --vp-c-brand-dark: #6713d1;
  --vp-button-brand-bg: #6713d1;
  --vp-button-brand-hover-border: #8500ee;
  --vp-button-brand-active-border: #8500ee;
  --vp-link-color: #a200ee;
  --vp-link-color-hover: #a200ee;
}
