:root {
  --vp-c-brand: #ffb029;
  --vp-c-brand-light: #ffb029;
  --vp-button-brand-hover-border: #ffb029;
  --vp-button-brand-active-border: #ffb029;

  --vp-c-brand-dark: #fc9f00;
  --vp-button-brand-bg: #fc9f00;

  --vp-link-color: #ffc055;
  --vp-link-color-hover: #ffc055;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #ffc055, #fc9f00 70%);
  --vp-home-hero-image-background-image: linear-gradient(45deg, #ffc055 50%, #fc9f00 50%);

  --vp-home-hero-image-filter: blur(80px) opacity(0.8);
}
