:root {
  --vp-c-brand: #ffb029;
  --vp-c-brand-light: #ffb029;
  --vp-button-brand-hover-border: #ffb029;
  --vp-button-brand-active-border: #ffb029;

  --vp-c-brand-dark: #fc9f00;
  --vp-button-brand-bg: #fc9f00;

  --vp-link-color: #ffc055;
  --vp-link-color-hover: #ffc055;
}
